extends layout

block head
  link(rel="stylesheet" href="/css/signup.css")

block title
  | Sign Up

block content
  .row.justify-content-center.mt-5
    .col-md-6
      .card
        .card-header.bg-primary.text-white Register
        .card-body
          if error_msg
            .alert.alert-danger= error_msg
          form(method="POST" action="/auth/signup")
            .mb-3
              label Full Name
              input.form-control(type="text" name="fullName" required)
            .mb-3
              label Email
              input.form-control(type="email" name="email" required)
            .mb-3
              label Password (min 8)
              input.form-control(type="password" name="password" minlength="8" required)
            .mb-3
              label Role
              select.form-select(name="role")
                option Sales Attendant
                option Manager
                option Administrator
            button.btn-primary.w-100(type="submit") Sign Up
        .card-footer.text-center
          a(href="/login") Already have an account? Login